<!-- Navbar Section-->
<div class="sidebar">
  <div class="navbar-small">
    <button
      class="btn-menu"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasSidebar"
    >
      <svg
        width="20"
        height="21"
        viewBox="0 0 20 21"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line y1="0.5" x2="20" y2="0.5" stroke="#3E332B" />
        <line y1="10.5" x2="13.3333" y2="10.5" stroke="#3E332B" />
        <line y1="20.5" x2="20" y2="20.5" stroke="#3E332B" />
      </svg>
      <p>MENU</p>
    </button>
    <div class="brand">
      <picture>
        <source media="(min-width:992px)" srcset="../assets/images/logo3.svg" />
        <img src="../assets/images/logo4.svg" alt="brand images" />
      </picture>
    </div>
    <a class="notification" href="#">
      <i class="demo-icon icon-bell"></i>
      <span>99+</span>
    </a>
    <div class="img-profile d-none d-lg-flex">
      <img src="../assets/images/profile.webp" alt="image profile" />
    </div>
  </div>
  <div
    class="offcanvas offcanvas-start bd-sidebar"
    id="offcanvasSidebar"
    tabindex="-1"
  >
    <div class="bd-links offcanvas-body">
      <div class="img-profile d-lg-none">
        <img src="../assets/images/profile.webp" alt="image profile" />
      </div>
      <p class="profile-name">Olivia Emily</p>
      <nav class="nav flex-column nav-style">
        <a href="#" class="nav-link border-bottom">
          <div class="nav-icon">
            <i class="demo-icon icon-home"></i>
          </div>
          <div class="nav-text">Home</div>
          <div class="nav-arrow">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </a>
        <a
          href="/pumahara-design/kaiako/classes.html"
          class="nav-link border-bottom"
        >
          <div class="nav-icon">
            <i class="demo-icon icon-classes"></i>
          </div>
          <div class="nav-text">My Classes</div>
          <div class="nav-arrow">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </a>
        <a href="/pumahara-design/roopu.html" class="nav-link border-bottom">
          <div class="nav-icon">
            <i class="demo-icon icon-ropu"></i>
          </div>
          <div class="nav-text">My Roopu</div>
          <div class="nav-arrow">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </a>
        <a
          href="/pumahara-design/ngapumanawa.html"
          class="nav-link border-bottom"
        >
          <div class="nav-icon">
            <i class="demo-icon icon-pumanawa"></i>
          </div>
          <div class="nav-text">Ngā Pūmanawa</div>
          <div class="nav-arrow">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </a>
        <a href="#" class="nav-link border-bottom">
          <div class="nav-icon">
            <i class="demo-icon icon-maramataka"></i>
          </div>
          <div class="nav-text">Maramataka</div>
          <div class="nav-arrow">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </a>
        <a href="#" class="nav-link border-bottom">
          <div class="nav-icon">
            <i class="demo-icon icon-journal"></i>
          </div>
          <div class="nav-text">Journal</div>
          <div class="nav-arrow">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </a>
        <a href="#" class="nav-link border-bottom">
          <div class="nav-icon">
            <i class="demo-icon icon-setting"></i>
          </div>
          <div class="nav-text">Account Setting</div>
          <div class="nav-arrow">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </a>
        <a href="#" class="nav-link text-danger">
          <div class="nav-icon">
            <i class="demo-icon icon-logout"></i>
          </div>
          <div class="nav-text">Logout</div>
        </a>
      </nav>
    </div>
  </div>
</div>
